.burger-over.u-fixed.js-burger
    a.burger(href="#")
        .burger__icon
            .burger__icon-bar.burger__icon-bar--1
            .burger__icon-bar.burger__icon-bar--2
            .burger__icon-bar.burger__icon-bar--3
        .burger__text menu