section.content-over
    .content
        .content__list
            .content__item.current(data-id="design")
                h1.content__title Ремонт по дизайн проекту
            .content__item(data-id="overhaul")
                h1.content__title Капитальный ремонт
            .content__item(data-id="redecorating")
                h1.content__title Косметический ремонт
            .content__item(data-id="about")
                h1.content__title О компании