section.content-over
    .content
        .content__list
            .content__item.current(data-id="design")
                h1.content__title Ремонт по дизайн проекту
            .content__item(data-id="overhaul")
                h1.content__title Капитальный ремонт
            .content__item(data-id="redecorating")
                h1.content__title Косметический ремонт
            .content__item(data-id="about")
                h1.content__title О компании
                .content__desc
                    p 15 лет опыта, более 800 объектов и тысячи квадратных метров..!
                    p За это время отточены навыки работы с любыми стройматериалами, включая самые современные. Постоянно развиваем свое мастерство и используем в своей работе новейшую технику и технологии, положительно зарекомендовавшие себя в других странах.
                    p Мы команда профессионалов, которым можно доверить решение самых сложных задач. Каждый клиент для нас – это стратегически важный партнер, каждый проект – воплощение творчества и профессионализма. Все, даже самые незначительные действия, всегда согласовываются с заказчиком. Полное взаимопонимание с клиентом – гарантия вашего полного удовлетворения нашими услугами.
                    p Ремонт это наука о том, как добиться максимума пользы от каждого квадратного метра квартиры –и мы знаем об этом все!
                .content__link-over
                    a.content__link(href="tel:+79080607056")
                        span.content__link-span Оставить заявку
                        span.content__link-span.content__link-span--red 8 908 060 70 56