section.greet
    .greet-title
        .greet-title__text.greet-title__text--1 We are
        .greet-title__text.greet-title__text--2 Reflet
        .greet-title__text.greet-title__text--3 Co
    a.greet-go(href="#")
        .greet-go__text Explore
        .greet-go__track
        .greet-go__line

