// 1-version
//.logo
//    a.logo__link(href="#") Logotip
//        span.logo__link-span

// 2-version
.logo
    a.logo__link(href="#")
        span.logo__link-big Dls
        span.logo__link-small
            .logo__link-span Строительная
            .logo__link-span Компания