section.menu.js-menu
    .menu__wrapp
        .menu-left
            ul.menu-left__list
                li.menu-left__item.current
                    a.menu-left__link.js-menu__link(href="#" data-id="design") Ремонт по дизайн проекту
                li.menu-left__item
                    a.menu-left__link.js-menu__link(href="#" data-id="overhaul") Капитальный ремонт
                li.menu-left__item
                    a.menu-left__link.js-menu__link(href="#" data-id="redecorating") Косметический ремонт
        .menu-bottom
            ul.menu-bottom__list
                li.menu-bottom__item
                    a.menu-bottom__link(href="#" data-id="about") О компании
                li.menu-bottom__item
                    a.menu-bottom__link(href="#" data-id="about") Оставить заявку