section.menu.js-menu
    .menu__wrapp
        .menu__lift
            ul.menu__list
                li.menu__item.current
                    a.menu__link.js-menu__link(href="#" data-id="design") Ремонт по дизайн проекту
                li.menu__item
                    a.menu__link.js-menu__link(href="#" data-id="overhaul") Капитальный ремонт
                li.menu__item
                    a.menu__link.js-menu__link(href="#" data-id="redecorating") Косметический ремонт