section.menu.js-menu
    .menu__wrapp
        .menu__lift
            ul.menu__list
                li.menu__item.active
                    a.menu__link(href="#") One page
                li.menu__item
                    a.menu__link(href="#") Two page