section.menu.js-menu
    .menu__wrapp
        .menu__lift
            ul.menu__list
                li.menu__item.active
                    a.menu__link(href="#") Ремонт по дизайн проекту
                li.menu__item
                    a.menu__link(href="#") Капитальный ремонт
                li.menu__item
                    a.menu__link(href="#") Косметический ремонт