.slideshow-convas
    .convas__list
        .convas__item.convas__item--design.current(data-id="design")
        .convas__item.convas__item--overhaul(data-id="overhaul")
        .convas__item.convas__item--redecorating(data-id="redecorating")
