.slideshow-main
    include title
    a.s-arrow.s-arrow--prev.js-arrow(href="#")
        .s-arrow__mode
            .s-arrow__mode-circle
            .s-arrow__mode-arrow
                .s-arrow__mode-arrow-line
            //    .s-arrow__mode-arrow-triangle
    a.s-arrow.s-arrow--next.js-arrow(href="#")
        .s-arrow__mode
            .s-arrow__mode-circle
            .s-arrow__mode-arrow
                .s-arrow__mode-arrow-line
            //    .s-arrow__mode-arrow-triangle