.title
    .title__item
        a.title__text(href="#") Ремонт по дизайн <br>проекту
    .title__item
        a.title__text(href="#") Капитальный <br>ремонт
    .title__item
        a.title__text(href="#") Косметический <br>ремонт