.title
    .title__list
        .title__item.current(data-id="1")
            a.title__text(href="#") Ремонт по дизайн <br>проекту
        .title__item(data-id="2")
            a.title__text(href="#") Капитальный <br>ремонт
        .title__item(data-id="3")
            a.title__text(href="#") Косметический <br>ремонт