.title
    .title__list
        .title__item.current(data-id="design")
            a.title__text(href="#") Ремонт по дизайн <br>проекту
        .title__item(data-id="overhaul")
            a.title__text(href="#") Капитальный <br>ремонт
        .title__item(data-id="redecorating")
            a.title__text(href="#") Косметический <br>ремонт