/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic')
@font-face
    font-family 'icon-pack'
    src url('../fonts/icon-pack.eot?35017766')
    src url('../fonts/icon-pack.eot?35017766#iefix') format('embedded-opentype'),
       url('../fonts/icon-pack.woff2?35017766') format('woff2'),
       url('../fonts/icon-pack.woff?35017766') format('woff'),
       url('../fonts/icon-pack.ttf?35017766') format('truetype'),
       url('../fonts/icon-pack.svg?35017766#icon-pack') format('svg')
    font-weight normal
    font-style normal

/*Main*/

main-font = 'Roboto', sans-serif

/*Colors*/

white               = #ffffff
black               = #333333
bg-menu             = #a9aba4
bg-slideshow        = #8a8a8a
bg-slideshow-footer = #dfdfdf

rupture.scale = 0 480px 600px 840px 1024px 1280px 1450px 1600px
rupture.scale-names = 'w480' 'w600' 'w840' 'w1024' 'w1280' 'w1440' 'w1600'