extends ../main

block title
    | DLStroy

block content
    include ../templates/slideshow
    include ../templates/nav
    include ../templates/logo
    include ../templates/burger
    include ../templates/content