.content-over
  position absolute
  top 0
  left 0
  right 465px
  min-height 100vh
  padding 0 10%
  background-color white
  transform translateY(100vh)
  transition transform 1s cubic-bezier(.75,0,.25,1)
  &.content-up
    transform translateY(0vh)


  +below(w1600)
    right 405px
    padding 0 14%
  +below(w1440)
    right 345px
    padding 0 12%
  +below(w1280)
    right 305px
    padding 0 10%
  +below(w1024)
    right 265px
    padding 0 8%
  +below(w840)
    right 225px
    padding 0 6%
  +below(w480)
    right 105px

.content
  padding 14vh 0
  color #636363
  overflow hidden
  
.content__list
  position: relative
  left 0

.content__item
  display: none
  &.current
    display block

.content__title
  margin 0
  margin-bottom 1em
  font-size 6vw
  line-height 1.2em
  color black

  +below(w1024)
    margin-bottom 0.8em

.content__desc p
  margin-bottom 2em
  line-height 2em
  font-size 1rem

.content__desc-row
  display flex
  margin 0 -2%

.content__desc-col
  width 50%
  padding 0 2%

.content__link-over
  text-align right
  text-align left

.content__link
  display: inline-block
  padding 30px
  font-weight 500
  letter-spacing 0.02em
  color #636363
  border 1px solid
  border-color rgba(0, 0, 0, .1)
  transition .15s

  &:hover
    border-color rgba(0, 0, 0, .25)

  +below(w1024)
    padding 30px 25px 28px 25px
  +below(w1024)
    padding 15px 15px 12px 15px
  
.content__link-span--red
  margin-left 20px
  color #9f2013