.content-over
  position absolute
  top 0
  left 0
  right 465px
  min-height 100vh
  height 1000px
  padding 0 10%
  background-color white
  transform translateY(100vh)

  +below(w1600)
    right 405px
    padding 0 14%
  +below(w1440)
    right 345px
    padding 0 12%
  +below(w1280)
    right 305px
    padding 0 10%
  +below(w1024)
    right 265px
    padding 0 8%
  +below(w840)
    right 225px
    padding 0 6%
  +below(w480)
    right 105px

.content
  padding-top 20vh
  overflow hidden
  
.content__list
  position: relative
  left 0

.content__item
  display: none
  &.current
    display block

.content__title
  margin 0
  font-size 6vw
  color black