.logo
  position fixed
  top 100px
  left 25%

  +below(w1440)
    top 80px
  +below(w1024)
    left 80px
  +below(w840)
    left 60px
  +below(w600)
    left 40px
  +below(w480)
    left 30px

.logo__link
  display flex
  align-items center
  letter-spacing .1rem
  color white

.logo__link-big
  margin-right 8px
  text-transform uppercase
  font-weight 600
  font-size 32px
  line-height 24px

.logo__link-span
  text-transform uppercase
  letter-spacing: 0.2rem;
  font-size 8px