.logo
  position fixed
  top 110px
  left 25%

  +below(w1024)
    left 80px
  +below(w840)
    left 60px
  +below(w600)
    left 40px
  +below(w480)
    left 30px

.logo__link
  font-size 24px
  letter-spacing .1rem
  color white

.logo__link-span
  font-size 13px