.menu
  position fixed
  width 100%
  height 100%
  transform translateY(-100%)
  background bg-menu
  overflow hidden
  transition transform 1s cubic-bezier(.75,0,.25,1)

  &.is-opend
    transform translateY(0)
    .menu__wrapp
      transform translateY(0)
    .menu-left
      transform translateY(0)
    .menu-left__list
      display block

.menu__wrapp
  width 100%
  height 100%
  transform translateY(100%)
  transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);

.menu-left
  display flex
  flex-direction column
  justify-content center
  width: 100%;
  height: 100%;
  transform translateY(-10%)
  transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);

.menu-left__item
  &:hover
    .menu-left__link
      opacity 1

  &.current
    .menu-left__link
      opacity 1
      &:before
        display: block

.menu-left__link
  position: relative
  display block
  height 6vh
  padding-left 25%
  line-height 6vh
  font-size 32px
  color white
  opacity .5
  transition .15

  &:before
    content ''
    display none
    position: absolute
    top 50%
    left 100px
    width 160px
    height 1px
    background white
    transition .15

  +below(w1280)
    &:before
      width 120px
  +below(w1024)
    &:before
      left 80px
      width 100px
  +below(w840)
    &:before
      left 60px
      width 80px
  +below(w600)
    &:before
      left 40px
      width 60px
  +below(w480)
    &:before
      left 30px
      width 40px
      
.menu-bottom
  position absolute
  bottom 0
  left 0
  right 0

.menu-bottom__list
  display: flex
  position absolute
  bottom 90px
  left 25%

.menu-bottom__item
  margin-left 30px
  &:first-child
    margin-left 0

.menu-bottom__link
  display inline-block
  padding 10px
  letter-spacing 0.02em
  font-size 14px
  font-weight 700
  color white