.convas__list
  position relative
  top 0
  left 0
  height 100%
  transition left 1s cubic-bezier(.75,0,.25,1)

.convas__item
  float left
  width 100vw
  height 100%

.convas__item--design
  background-color #222

.convas__item--overhaul
  background-color #506f66

.convas__item--redecorating
  background-color #79786c
