.title
  position absolute
  top 50%
  transform translateY(-50%)
  white-space nowrap

.title__list
  position relative
  left 0
  transform translateX(0)
  transition left 1s cubic-bezier(.75,0,.25,1)

.title__item
  float left
  width 100vw

.title__text
  position relative
  left 25%
  text-transform lowercase
  font-weight 100
  font-size 7vw
  color white

  +below(w1440)
    font-size 6vw